{
    "twitter_credentials": {
        "consumer_key": "1234567890abcdefghABCDEFG",
        "consumer_secret": "1234567890abcdefghijkABCDEFGHIJKxxxxxxxxxXXXXXXXXX",
        "access_token_key": "123456789099999999-1234567890abcdefghijkABCDEFGHIJ",
        "access_token_secret": "1234567890abcdefghijkABCDEFGHIJKxxxxxxxxxXXXX"
    },
    "mac_address": "34:d2:70:68:ff:91"
}
